# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Firebase credentials
firebase-adminsdk.json

# VS Code settings
.vscode/

# Environment files
.env
*.env

# OS-specific
.DS_Store
Thumbs.db
